@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Press+Start+2P&display=swap");

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", sans-serif;
    font-weight: 400;
    background: #2a7b9b;
    /*background: linear-gradient(
        180deg,
        rgba(42, 123, 155, 1) 0%,
        rgba(87, 199, 133, 1) 50%,
        rgba(237, 221, 83, 1) 100%
    );*/
    animation: color-change-2x 2s linear infinite alternate both;
    /*overflow: hidden;*/
}
@keyframes color-change-2x {
    0% {
        background: #2a7b9b;
    }
    50% {
        background: #57c785;
    }
    100% {
        background: #eddd53;
    }
}

header {
    margin: 1rem;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.rst-btn {
    width: 6rem;
    height: 3rem;
    background-color: transparent;
    border: 2px solid honeydew;
    border-radius: 2rem;
}

main {
    /*height: 50vh;*/
    /*padding: 1.5rem;*/
}

.top {
    height: 25vh;
    border-bottom: 5px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

h1 {
    /*position: absolute;*/
}

.show-no {
    position: relative;
    padding: 1.5rem 0.5rem 0rem 0.5rem;
    width: 9rem;
    height: 10vh;
    font-size: 2.8rem;
    font-family: "Press Start 2P";
    text-align: center;
    color: white;
    background-color: seagreen;
    align-self: center;
    bottom: 0;
    transform: translate(0, 50%);
}

.st-btn {
    position: relative;
    width: 9rem;
    height: 10vh;
    /*font-weight: 700;*/
    font-size: 1.5rem;
    font-family: "Press Start 2P";
    text-align: center;
    color: white;
    background-color: seagreen;
    align-self: center;
    bottom: 0;
    /*left: 50%;*/
    transform: translate(0, 70%);
}

.bottom {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*margin-top: 4rem;*/
    height: 20vh;
}
.target {
    font-size: 1.2rem;
    align-content: flex-end;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.5rem;
    height: 30vh;
}

.left {
    padding: 1rem;
    flex: 1;
    text-align: center;
}

.input {
    font: 500 1.5rem "Press Start 2P";
    height: 2rem;
    width: 14rem;
    padding: 1rem;
}

.check-btn {
    font: 400 0.8rem "Press Start 2P";
    height: 3rem;
    width: 6rem;
    margin-top: 1rem;
    /*padding: 0.7rem;*/
}

.right {
    padding: 1rem;
    flex: 1;
}
