@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap");

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    place-content: center;
    min-height: 100vh;
    font-size: clamp(1rem, 2.5rem, 2rem);
    text-align: center;
    font-family: "Orbitron", sans-serif;
    background: linear-gradient(
        315deg,
        rgba(79, 0, 176, 1) 0%,
        rgba(252, 70, 107, 1) 100%
    );
    /*animation: bg-pan-left 8s both;*/
}

@keyframes bg-pan-left {
    0% {
        background-position: 100% 50%;
        background:;
    }
    100% {
        background-position: 0% 50%;
        background:;
    }
}

.hidden {
    display: none;
}

#h-game {
    position: absolute;
    top: 2.5rem;
    margin: 0 auto;
    left: 25%;
    right: 25%;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: auto;
    max-width: max-content;
    font-size: 1rem;
    text-align: center;
    background: rgba(207, 207, 207, 0.2);
    backdrop-filter: blur(5px);
    box-shadow: 2px 2px 20px #dedede;
    max-height: 70vh;
}

.box-1 {
    width: 20rem;
    flex: 1;
    text-align: center;
}

.score {
    padding: 1.5rem;
    font-size: 2.5rem;
    font-family: "Exo 2", sans-serif;
}

.s-box {
    position: relative;
    left: 25%;
    right: 35%;
    box-shadow: 2px 2px 20px #808;
    width: 50%;
    padding: min(0.3rem, 8%);
    margin: 2rem 0;
    color: #ffe0ee;
    background-color: #ab00ab;
    border-radius: 1rem;
    /*height: 4rem;*/
}

#s-head {
    margin: 0;
}

.num {
    font-size: 1.3rem;
    font-family: "Exo 2", sans-serif;
}

.box-2 {
    width: 20rem;
    flex: 1;
    text-align: center;
}

.btns {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.btn {
    font-family: "Exo 2", sans-serif;
    margin: 1rem;
    padding: 0.5rem;
    height: 2.5rem;
    width: 6rem;
    border-radius: 1rem;
    border: none;
}

.dice {
    position: relative;
    height: 4.5rem;
    width: 4.5rem;
    left: 1.7rem;
    right: 1.7rem;
    background-image: url("dice/1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 4.5rem;
    box-shadow: 2px 2px 20px #474747;
}

.st-btn {
    padding: 0;
    margin-top: 2rem;
}

.rs-btn {
    margin-top: 2rem;
}

.h-btn {
    margin-top: 0;
}

.slider {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 1rem;
}
